/Arithmetic.tokens
/ArithmeticBaseListener.java
/ArithmeticLexer.java
/ArithmeticLexer.tokens
/ArithmeticListener.java
/ArithmeticParser.java
/ArithmeticUsage.java
/Sentence.tokens
/SentenceBaseListener.java
/SentenceConverter.java
/SentenceCopy.g4
/SentenceCopy.tokens
/SentenceCopyBaseListener.java
/SentenceCopyLexer.java
/SentenceCopyLexer.tokens
/SentenceCopyListener.java
/SentenceCopyParser.java
/SentenceCounter.java
/SentenceLexer.java
/SentenceLexer.tokens
/SentenceListener.java
/SentenceParser.java
/SentenceUsage.java
/ArithmeticBaseVisitor.java
/ArithmeticVisitor.java
/SentenceCopyBaseVisitor.java
/SentenceCopyVisitor.java
/SentenceBaseVisitor.java
/SentenceVisitor.java
