/SimplePascal6.tokens
/SimplePascal6BaseListener.java
/SimplePascal6BaseVisitor.java
/SimplePascal6Lexer.java
/SimplePascal6Lexer.tokens
/SimplePascal6Listener.java
/SimplePascal6Parser.java
/SimplePascal6Visitor.java
/FuncPascal6.tokens
/FuncPascal6BaseListener.java
/FuncPascal6BaseVisitor.java
/FuncPascal6Lexer.java
/FuncPascal6Lexer.tokens
/FuncPascal6Listener.java
/FuncPascal6Parser.java
/FuncPascal6Visitor.java
